<h1>New post</h1>

  <div class="field">
    <label> Title:
      <input type = "text" name='title' id="title" value="<%=title%>">
   </label>
  </div>
  <div class="field">
    <label> Content:
      <input type="text" name='content' id="content" value="<%=content%>">
   </label>
  </div>
  <div class="actions">
    <input id="createBtn" type='button' value="Create Post">
  </div>
<div>
<a href="#/index">Back</a>
</div>
