<td><%= title %></td>
<td><%= content %></td>
<td><span class="navigate" data-path="/<%= id %>">Show</span></td>
<td><span class="navigate editPost">Edit</span></td>
<td><span class="navigate destroyPost" >Destroy</span></td>
